<style>
    .modal-content {
      background-color: #212121
    }

  </style>
  

  <div class="modal fade" id="Modal-EquippedHelmet-{{ equipped_helmet.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:200px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="ModalLabel" >
            {% if equipped_helmet.level > 10 %}
              <p style="color:lawngreen">{{ equipped_helmet.name }}</p>
            {% else %}
              <p>{{ equipped_helmet.name }}</p>
            {% endif %}
          </h5>
        </div>
        <div class="modal-body w-100 text-center">
            <div style="border: solid 2px white; height: 65px; width: 65px; margin-left: 50px;">
                <img src="{{ equipped_helmet.picture }}" height="60" width="60">
            </div>
            <br>
            <p>Level {{ equipped_helmet.level }}</p>
            <p>Armor {{ equipped_helmet.armor }}</p>
            {% if equipped_helmet.vitality %}
              <p style="color:lawngreen">Vitality +{{ equipped_helmet.vitality }}</p>
            {% endif %}
            <p>Cost {{ equipped_helmet.cost }} <img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 4px"></p>
          
        </div>
        <div class="modal-footer">
        {% if current_user.gladiator[0] == equipped_helmet.owner %}
          <form action="/take_off/helmet/{{ equipped_helmet.id }}">
            <button type="submit" class="btn btn-warning" style="margin-right: 40px;">Take Off</button>
          </form>
        {% else %} 
        {% endif %}
        </div>
      </div>
    </div>
  </div>
