<style>
    .modal-content {
      background-color: #212121
    }

  </style>
  

  <div class="modal fade" id="Modal-EquippedWeapon-{{ equipped_weapon.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:200px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="ModalLabel" >
            {% if equipped_weapon.level > 10 %}
              <p style="color:lawngreen">{{ equipped_weapon.name }}</p>
            {% else %}
              <p>{{ equipped_weapon.name }}</p>
            {% endif %}
          </h5>
        </div>
        <div class="modal-body w-100 text-center">
            <div style="border: solid 2px white; height: 65px; width: 65px; margin-left: 50px;">
                <img src="{{ equipped_weapon.picture }}" height="60" width="60">
            </div>
            <br>
            <p>Level {{ equipped_weapon.level }}</p>
            <p>Damage {{ equipped_weapon.min_dmg }}-{{ equipped_weapon.max_dmg }}</p>
            {% if equipped_weapon.charisma %}
              <p style="color:lawngreen">Charisma +{{ equipped_weapon.charisma }}</p>
            {% endif %}
            <p>Cost {{ equipped_weapon.cost }} <img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 4px"></p>
          
        </div>
        <div class="modal-footer">
          {% if current_user.gladiator[0] == equipped_weapon.owner %}
          <form action="/take_off/weapon/{{ equipped_weapon.id }}">
            <button type="submit" class="btn btn-warning" style="margin-right: 40px;">Take Off</button>
          </form>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
