<style>
    .modal-content {
      background-color: #212121
    }

  </style>
  

  <div class="modal fade" id="Modal-EquippedShield-{{ equipped_shield.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:200px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="ModalLabel" >
            {{ equipped_shield.name }}
          </h5>
        </div>
        <div class="modal-body w-100 text-center">
            <div style="border: solid 2px white; height: 65px; width: 65px; margin-left: 50px;">
                <img src="{{ equipped_shield.picture }}" height="60" width="60">
            </div>
            <br>
            <p>Level {{ equipped_shield.level }}</p>
            <p>Armor {{ equipped_shield.armor }}</p>
            <p>Cost {{ equipped_shield.cost }}</p>
          
        </div>
        <div class="modal-footer">
          <form action="/take_off/shield/{{ equipped_shield.id }}">
            <button type="submit" class="btn btn-warning" style="margin-right: 40px;">Take Off</button>
          </form>
        </div>
      </div>
    </div>
  </div>
