<style>
    .modal-content {
      background-color: #212121
    }

  </style>
  
{% if item in helmets %}
  <!-- More Info -->
  <div class="modal fade" id="Modal-InventoryHelmet-{{ item.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:200px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="ModalLabel" >
            {% if item.level > 10 %}
              <p style="color:lawngreen">{{ item.name }}</p>
            {% else %}
              <p>{{ item.name }}</p>
            {% endif %}
          </h5>
        </div>
        <div class="modal-body w-100 text-center">
            <div style="border: solid 2px white; height: 65px; width: 65px; margin-left: 50px;">
                <img src="{{ item.picture }}" height="60" width="60">
            </div>
            <br>
            <p>Level {{ item.level }}</p>
            <p>Armor {{ item.armor }}</p>
            {% if item.vitality %}
              <p style="color:lawngreen">Vitality +{{ item.vitality }}</p>
            {% endif %}
            <p>Cost {{ item.cost }} <img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 4px"></p>
          
        </div>
        <div class="modal-footer">
            <form action="/equip/helmet/{{ item.id }}">
                <button type="submit" class="btn btn-success">Equip</button>
            </form>
            <form action="/sell/helmet/{{ item.id }}">
                <button type="submit" class="btn btn-warning" style="width: 70px; margin-right: 12px;">Sell</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}