<style>
    .modal-content {
      background-color: #212121;
    }

  </style>
  
{% if potion.owner == None %}
  <div class="modal fade" id="Modal-PotionMasterPotion-{{ potion.id }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:200px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center" id="ModalLabel" >
            {{ potion.name }}
          </h5>
        </div>
        <div class="modal-body w-100 text-center">
            <div style="border: solid 2px white; height: 65px; width: 65px; margin-left: 50px;">
                <img src="{{ potion.picture }}" height="60" width="60">
            </div>
            <br>
            <p>Level {{ potion.level }}</p>
            {% if potion.heal != 0 %}
              <p>Heals {{ potion.heal }}</p>
            {% else %} 
              <p>{{ potion.description }}</p>
            {% endif %}
            <p>Cost {{ potion.cost }} <img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 4px"></p>
          
        </div>
        <div class="modal-footer">
            {% if player.gold >= potion.cost and player.level >= potion.level %}
                <form method="POST" action="/potion/buy/{{ potion.id }}">
                    <button type="submit" class="btn btn-success" style="margin-right: 57px;">Buy</button>
                </form>
            {% else %}
                <p style="margin-right: 15px; color: red">Cannot buy this item</p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}