{% extends 'base.html' %}

{% block head %}Choose enemy{% endblock %}

{% block content %}
<section class="grid grid--gap10">
    <div class="cols grid__col12 grid__colsm2">
        <table>
            <tr><th><a class="btn btn-dark" style="width: 100%" href='/overview'>Overview</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/expedition">Expedition</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/training">Training</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/blacksmith">Blacksmith</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/armor">Armorer</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/potions">Potions</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/ranking">Ranking</a></th></tr>
        </table>
    </div>
    <div class="cols grid__col12 grid__colsm8" style="margin-top: 50px;">
        <div class="text-center">
            {% if id == 1 %}
                <h2 style="text-decoration: underline; color: red;">Cursed Forest</h2>
            {% elif id == 2 %}
                <h2 style="text-decoration: underline; color: red;">Misty Mountains</h2>
            {% elif id == 3 %}
                <h2 style="text-decoration: underline; color: red;">Fire Temple</h2>
            {% endif %}
            <br>
            <h5>Pick your Enemy</h5> 
            <h6>Stronger Enemy equals better reward but beware!</h6>
            <h6>Enemies with greater level can kill you!</h6>
            <br>
            <br>
        </div>
    </div>
</section>
<section class="grid grid--gap10">
    <div class="cols grid__col12 grid__colsm2"></div>
    {% for enemy in enemies %}
    <div class="cols grid__col6 grid__colsm2">
        <a href="fight/{{ enemy.id }}">
            <img src="{{ enemy.picture }}" height="200" width="169">
        </a>
        <table style="width: 169px">
            <tr>
                <th>{{ enemy.name }}</th>
            </tr>
            <tr>
                <th>Level {{ enemy.level }}-{{ enemy.level + 2 }}</th>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
</section> 

{% endblock %}