{% extends 'base.html' %}

{% block title %} 
Fight Page
{% endblock %}

{% block content %}
<div class="row" style="margin: 30px">
    <div class="col-3">
        <table>
            <tr><th><a class="link" href='/overview'>Overview</a></th></tr>
            <tr><th><a class="link" href="/expedition">Expedition</a></th></tr>
            <tr><th><a class="link" href="/training">Training</a></th></tr>
            <tr><th><a class="link" href="/blacksmith">Blacksmith</a></th></tr>
            <tr><th><a class="link" href="/armor">Armorer</a></th></tr>
            <tr><th><a class="link" href="/potions">Potions</a></th></tr>
            <tr><th><a class="link" href="/ranking">Ranking</a></th></tr>
        </table>
    </div>
    <div class="col-6">
        {% if player.hp > 0 %}
            <h3 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">{{ win_statement }}</h2>
            <h4 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">{{ reward }}&nbsp<img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 5px;"></h3>
        {% elif player.hp <= 0 and enemy_to_fight.hp <= 0 %}
            <h3 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">Draw</h2>
        {% else %}
            <h3 style="text-align: center; background-color: red; border: solid; color: #ffd24d; padding: 5px">You Lost...</h2>
        {% endif %}
        <br>
        <br>
        <div style="float: left; margin-left: 110px;">
            <img src="{{ player.picture }}">
            <div>
                <table>
                    <tr>
                        <th>{{ player.name }}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float: left; margin-left: 30px; margin-top: 50px;">
            <img src="/static/versus.png" width="100" height="100">
        </div>
        
        <div style="float: left; margin-left: 30px;">
            <img src="{{ enemy_to_fight.picture }}" height="200" width="169">
            <div>
                <table>
                    <tr>
                        <th>{{ enemy_to_fight.name }}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float: left; margin-top: 40px; border: solid 1px #ffd24d; margin-left:110px; width:500px; padding:10px">
            <h5 style="text-align: center;">History of Fight</h5>
            {% for record in history_of_fight %}
                <p style="font-size: 14px; margin-bottom: 2px;"><strong>{{ record }}</strong></p>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}