{% extends 'base.html' %}

{% block title %} 
Fight Page
{% endblock %}

{% block content %}
<section class="grid grid--gap10">
    <div class="cols grid__col12 grid__colsm2">
        <table>
            <tr><th><a class="btn btn-dark" style="width: 100%" href='/overview'>Overview</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/expedition">Expedition</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/training">Training</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/blacksmith">Blacksmith</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/armor">Armorer</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/potions">Potions</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/ranking">Ranking</a></th></tr>
        </table>
    </div>
    <div class="cols grid__col12 grid__colsm6" style="margin-top: 60px;">
        {% if player.hp > 0 %}
            <h4 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">{{ win_statement }}</h2>
            <h5 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">{{ reward }}&nbsp<img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 5px;"></h3>
        {% elif player.hp <= 0 and enemy_to_fight.hp <= 0 %}
            <h3 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">Draw</h2>
        {% else %}
            <h3 style="text-align: center; background-color: red; border: solid; color: #ffd24d; padding: 5px">You Lost...</h2>
        {% endif %}
    </div>
</section>
<section class="grid grid--gap10">
    <div class="cols grid__col12 grid__colsm3">
        
    </div>
    <div class="cols grid__col4_fightleft grid__colsm1">
            <img src="{{ player.picture }}">
            <div>
                <table>
                    <tr>
                        <th>{{ player.name }}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cols grid__col4 grid__colsm2" style="margin-top: 30px;">
            <img src="/static/versus.png" width="100" height="100">
        </div>
        
        <div class="cols grid__col4_fightright grid__colsm1">
            <img src="{{ enemy_to_fight.picture }}" height="200" width="168">
            <div>
                <table>
                    <tr>
                        <th>{{ enemy_to_fight.name }}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cols grid__col12 grid__colsm10" style="border: solid 1px #ffd24d; width:400px; padding:10px; margin-top: 30px">
            <h5 style="text-align: center;">History of Fight</h5>
            {% for record in history_of_fight[:10] %}
                <p style="font-size: 14px; margin-bottom: 2px;"><strong>{{ record }}</strong></p>
            {% endfor %}
                <p>... <a>See whole fight</a> ...</p>
            {% for record in history_of_fight[-5:] %}
                <p style="font-size: 14px; margin-bottom: 2px;"><strong>{{ record }}</strong></p>
            {% endfor %}
        </div>
</section>
{% endblock %}