{% extends 'base.html' %}

{% block title %} 
Fight Page
{% endblock %}

{% block content %}
<section class="grid grid--gap10">
    <div class="cols grid__col12 grid__colsm2">
        <table>
            <tr><th><a class="btn btn-dark" style="width: 100%" href='/overview'>Overview</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/expedition">Expedition</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/training">Training</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/blacksmith">Blacksmith</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/armor">Armorer</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/potions">Potions</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/ranking">Ranking</a></th></tr>
        </table>
    </div>
    <div class="cols grid__col12 grid__colsm6">
        {% if player.hp > 0 %}
            <h4 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">{{ win_statement }}</h2>
            <h5 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">{{ reward }}&nbsp<img src="https://findicons.com/files/icons/2250/payment_icon_set/64/gold_coin_stacks.png" width="20" height="20" style="margin-bottom: 5px;"></h3>
        {% elif player.hp <= 0 and enemy_to_fight.hp <= 0 %}
            <h3 style="text-align: center; background-color: green; border: solid; color: #ffd24d; padding: 5px">Draw</h2>
        {% else %}
            <h3 style="text-align: center; background-color: red; border: solid; color: #ffd24d; padding: 5px">You Lost...</h2>
        {% endif %}
    </div>
</section>
<section class="grid grid--gap10">
    <div class="cols grid__col2 grid__colsm2">

    </div>
    <div class="cols grid__col12 grid__colsm6_fight">
        <div style="float: left;">
            <img src="{{ player.picture }}" width="140" height="180">
            <div>
                <table style="width:140px">
                    <tr>
                        <th>{{ player.name }}</th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 50px;">
            <img src="/static/versus.png" width="100" height="100">
        </div>
        
        <div style="float: left; margin-left: 10px;">
            <img src="{{ enemy_to_fight.picture }}" height="180" width="140">
            <div>
                <table style="width:140px">
                    <tr>
                        <th>{{ enemy_to_fight.name }}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="cols grid__col12 grid__colsm10_fight" style="border: solid 1px #ffd24d; width:400px; max-height: 450px; overflow: scroll; padding:10px;">
        <h5 style="text-align: center;">History of Fight</h5>
        {% for record in history_of_fight %}
            <p style="font-size: 14px; margin-bottom: 2px;"><strong>{{ record }}</strong></p>
        {% endfor %}
    </div>
</section>
{% endblock %}