{% extends 'base.html' %}

{% block title %}
    Ranking
{% endblock %} 

{% block content %}

<section class="grid grid--gap10">
    <div class="cols grid__col12 grid__colsm2">
        <table>
            <tr><th><a class="btn btn-dark" style="width: 100%" href='/overview'>Overview</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/expedition">Expedition</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/training">Training</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/blacksmith">Blacksmith</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/armor">Armorer</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/potions">Potions</a></th></tr>
            <tr><th><a class="btn btn-dark" style="width: 100%" href="/ranking/1">Ranking</a></th></tr>
        </table>
    </div>
    <div class="cols grid__col12 grid__colsm8" style="text-align: center;">
        <h4>Server Ranking</h4>
        <br>
        <table style="width: 400px;">
            <thead>
                <tr>
                    <th>Position in Ranking</th>
                    <th>Gladiator's Name</th>
                    <th>Gladiator's Level</th>
                </tr>
            </thead>
            <tbody>
            {% if num == 1 %}
                {% for gladiator in all_gladiators[:num*10] %}
                    <tr>
                        {% if loop.index == 1 %}
                        <td><img src="https://img.icons8.com/color/48/000000/crown.png" width="30" height="30"></td>
                        <td><a href="/ranking/{{ gladiator.name }}"><strong>{{ gladiator.name }}</strong></a></td>
                        <td>{{ gladiator.level }}</td>
                        {% else %}
                        <td>{{ loop.index }}</td>
                        <td><a href="/ranking/{{ gladiator.name }}">{{ gladiator.name }}</a></td>
                        <td>{{ gladiator.level }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for gladiator in all_gladiators[(num-1)*10:num*10] %}
                    <tr>
                        <td>{{ loop.index + 10*(num-1) }}</td>
                        <td><a href="/ranking/{{ gladiator.name }}">{{ gladiator.name }}</a></td>
                        <td>{{ gladiator.level }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <br>
        {% if num > 1 and num < last_page %}
            <a class="btn btn-primary" href="/ranking/1"><<</a>
            <a class="btn btn-primary" href="/ranking/{{ num-1 }}"><</a>
            <a class="btn btn-primary" href="/ranking/{{ num+1 }}">></a>
            <a class="btn btn-primary" href="/ranking/{{ last_page }}">>></a>
        {% elif num == last_page %}
            <a class="btn btn-primary" href="/ranking/1"><<</a>
            <a class="btn btn-primary" href="/ranking/{{ num-1 }}"><</a>
            <a class="btn btn-primary">></a>
            <a class="btn btn-primary">>></a>
        {% else %}
            <a class="btn btn-primary"><<</a>
            <a class="btn btn-primary"><</a>
            <a class="btn btn-primary" href="/ranking/{{ num+1 }}">></a>
            <a class="btn btn-primary" href="/ranking/{{ last_page }}">>></a>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}